@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html {font-size: 62.5%;
    @include breakpoint(max, 1700px) {font-size: 55%;}
    @include breakpoint(max, 1500px) {font-size: 45%;}
    @include breakpoint(max, 1300px) {font-size: 40%;}
		@include breakpoint(max, 1279px) {font-size: 35%;}
}

body {font-family: 'Space Grotesk', sans-serif;}
a {text-decoration: none;color: initial}
#page-container {max-width: 1920px;width: 100%;margin: 0 auto;}
.container-l {max-width: 162rem;width: 90%;margin: 0 auto;}
.container {max-width: 150rem;width: 90%;margin: 0 auto;}
.section { padding: 8rem 0;}
.flex{display: flex;}
.align-center{align-items: center;}
.justify-center{justify-content: center;}
.space-between{justify-content: space-between;}
.justify-around{justify-content: space-around;}
.clear{clear: both;}
.pb-0{padding-bottom: 0 !important;}
.pt-0{padding-top: 0 !important;}
.text-center{text-align: center;}
.btn-wrap{margin-top: 3.5rem;}
.resp-img-box{position: relative;}
.resp-img{object-fit: contain;width: 100% !important;position: relative !important;height: unset !important;}
.chat-icon{position: fixed;right: 2.5%;bottom: 2.5%;}
.chat-icon img{width: 10.5rem;height: auto;}
.enq-btn {width: 5.5rem;background-color: transparent;border: none;}
.custom-select{position: relative;
	select{-webkit-appearance: none;position: relative;}
	&:after{content: '';position: absolute;right: 2rem;background-image:url("/img/cross_arrow_white.svg");width: 2rem;height: 2rem;background-size: contain;background-repeat: no-repeat;transform: rotate(90deg);}
}



/* heading */
.heading02{font-weight: 700;font-size: 6.4rem;color: #2C2C2C;line-height: 7.4rem;}
.heading03{font-weight: 700;font-size: 4.8rem;color: #2C2C2C;line-height: 5.5rem;}
.heading04{font-weight: 700;font-size: 3.6rem;line-height: 4.8rem;}
.heading05{font-weight: 700;font-size: 3.2rem;line-height: 3.7rem;}
p{font-size: 2rem;font-weight: 400;color: #2C2C2C;line-height: 3.1rem;}




.banner-section {
    .left-box {width: 24.50%;position: relative;}
    .right-box {background-image: url("/img/banner_bg.jpg");background-repeat: no-repeat;width: 75.50%;background-size: cover;position: relative;
        .banner-content {width: 62rem;position: absolute;top: 14rem;left: 14rem;bottom: 5rem;display: flex;flex-direction: column;justify-content: space-between;align-items: flex-start;
            .banner-title {font-size: 4.8rem;font-weight: 500;color: #2C2C2C;line-height: 5.5rem;
                span {color: #760B28;display: inline-block;padding: .5rem 1.5rem;border: solid 1px #760B28;border-radius: 9rem;}}
            p {color: #760B28;font-size: 2.4rem;font-family: 'Poppins', sans-serif;line-height: 4rem;margin-top: 2.3rem}
        }
    }
    .sticky-box{position: fixed;right: 0;top: 50%;transform: translateY(-50%);z-index: 9;
        a{background-color: #EFEFEF;width: 5.5rem;height: 5.5rem;border-radius: 10px 0 0 10px;margin: 5px 0;display: flex;align-items: center;justify-content: center;padding: 1rem;}
        a.wa-icon{background-color: #075E54;}
    }
}


/* usp section */
.usp-section{padding: 3rem 0;border-bottom: solid 1px #909090;
    .usp-container{display: grid;grid-template-columns: auto auto auto;}
    .usp-box{padding-left: 50px;margin-left: 50px;position: relative;
        &::before{content: '';position: absolute;left: 0;top: 50%;transform: translateY(-50%);width: 1px;background-color: #000;height: 70%;}
        &:first-child{margin-left: 0;padding-left: 0}
        &:first-child::before{content: none}
        span{display: inline-block;vertical-align: middle;width: 6rem;
        }
        p{margin-left: 3rem;display: inline-block;vertical-align: middle;font-size: 2.4rem;font-weight: 500;width: calc(100% - 9.4rem);color: #000;}
    }
}  

/* education section */
.education-section{ 
    .info-box{width: 46%;float: left;padding-right: 4.5rem;
        p{margin-top: 1.4rem}
        .edubox-wrap{margin-top: 4.8rem;
            .edu-row{margin-top: 2rem;
                .edu-tab{background-color: #760B28;border-radius: 3.3rem;padding: 3rem;color: #fff;font-size: 2.4rem;font-weight: 700;line-height: 2.8rem;}            
                 &:first-child{display: grid;grid-template-columns: 57% 1fr;grid-column-gap: 2rem;}
                 &:last-child{display: grid;grid-template-columns: repeat(3, 1fr);grid-column-gap: 2rem;}
            }   
        }
    }
    .edu-adbox{width: 54%;float: left;display: grid;grid-template-columns: 1fr 1fr;grid-column-gap: 2rem;}
}

/* programm section */
.programm-section{background-color: #F8F8F8;
    .pro-leftbox{width: 36%;float: left;padding-right: 3rem;
        p{margin-top: .6rem;}
        .tab-head-box{margin-top: 2rem;padding-right: 6rem;
            .tab-button{color: #000;font-size: 3.6rem;font-weight: 400;padding: 0;border: none;background: transparent;display: block;padding: 2.5rem 0;border-top: solid 1px #000;width: 100%;text-align: left;line-height: 4.2rem;
            &[data-headlessui-state=selected]{color: #760B28;background-image: url('/img/cross_arrow.svg');background-repeat: no-repeat;background-position: center right 2rem;}   
            }
        }
    }
    .pro-rigbhbox{width: 64%;float: right;background-image: url("/img/programm_bg.jpg");background-repeat: no-repeat;background-position: top right;padding: 3rem 6.6rem;padding-right: 29%;border-radius: 50px;overflow: hidden;background-size: 100%;
        .heading04{color: #760B28;}
        ul{padding-left: 2.5rem; list-style: disc;
            li{color: #000;font-weight: 500;font-size: 2.4rem;line-height: 3.2rem;margin-top: 3rem;}
        }
        .btn{margin-top: 3.5rem}
    }
}

/* placement section */
.pm-section .pm-container{margin-top: 2rem;
    .pm-box{position: relative;display: inline-block;vertical-align: top;margin: 0 4.5rem;width: calc(33.33% - 6rem);
        figure{position: relative;
            &:before{content: "";position: absolute;width: 1px;background-color: #5C5C5C;height: 80%;top: 50%;transform: translateY(-50%);left: -4.5rem;}    
        }
        &:first-child{margin-left: 0;
            figure:before{content: none;}
        }
        &:last-child{margin-right: 0;}
        .pm-img{overflow: hidden;border-radius: 30px 30px 0 0;}
        figcaption{position: absolute;bottom: 0;left: 0;right: 0;background-color: rgba(118,11,40,.8);padding: 2rem 5rem;overflow: hidden;border-radius: 0 0 30px 30px;
            h6{color: #fff;font-size: 2.4rem;font-weight: 500;line-height: 3.2rem;}
            p{color: #fff}
        }
        .btn{margin-top: 4.5rem;}
    }
}

/* founder section */
.founder-section{ border-bottom: 10px solid transparent;border-image: linear-gradient(189deg, rgba(118,11,40,1) 0%, rgba(136,35,111,1) 100%);border-image-slice: 2;
	.founder-container{max-width: 171rem;float: right;background-image: url("/img/founder_bg.png");background-repeat: no-repeat;background-position: top right;background-size: 60%;
		@include breakpoint(max, 1279px){max-width: 100%;padding-left: 5%;}
		.founder-info{width: 45%;padding-bottom: 7rem;
			.founder-innerbox{width: 80%;
				p{font-size: 2.4rem;line-height: 3.8rem;margin-top: 1rem;color: #000}
				.heading05 + p{color: #2c2c2c;}
				.heading04{Color: #760B28;margin: 3.5rem 0}
			}
		}
	}
}

/* video section */
.video-container{margin-top: 2.5rem;display: grid;grid-template-columns: 53.50% auto;grid-column-gap: 2rem;
    .thumb-wrap{height: 41rem;overflow: auto;
    &::-webkit-scrollbar-track{width: 1px;background-color: #CCCCCC;}
    &::-webkit-scrollbar{width: 3px;}
    &::-webkit-scrollbar-thumb{width: 3px;background-color: #760B28;}
        .thumb-row{margin-top: 2rem;
            &:first-child{margin-top: 0}
            a{display: block;
                .thumb-img{display: inline-block;width: 46.50%;vertical-align: middle;}
                .video-info{display: inline-block;width: 53.50%;vertical-align: middle;margin-left: -4px;padding: 0 4rem;
                    .heading06{font-size: 2.4rem;font-weight: 500;color: #000000;line-height: 3.7rem;}
                    span{display: block;color: #909090;font-weight: 400;font-size: 1.6rem;line-height: 2.4rem;}
                }
            }
           
        }
    }
    .btn{margin-top: 3rem}
}

/* achiever section */
.achiever-section .achiever-container{margin-top: 15rem;margin-top: 15rem;display: grid;grid-template-columns: repeat(3, 1fr);grid-column-gap: 2.6rem;
    .achiever-box{background-color: #2C2C2C;padding: 4rem;padding-top: 14.4rem;border-radius: 3.3rem;position: relative;
    &:nth-child(even){background-color: #760B28}
    &:nth-child(even)  figcaption p .rm-btn{color: #DA4E80}
        .achiever-img{border-radius: 100%;width: 20.8rem;height: 20.8rem;overflow: hidden;position: absolute;top: -10.4rem;left: 0;right: 0;margin: 0 auto}
        figcaption{  p{color: #fff;margin-bottom: 2rem;
            .rm-btn{color: #C9C9C9;display: inline-block;
            &:after{content: '>';margin-left: 5px;display: inline-block;vertical-align: middle;}
            }          
        }
        span{color: #fff;font-size: 2.4rem;font-weight: 500;display: block;line-height: 3.1rem;}
        }
    }
}

/* partner section */
.partner-section{
    .tab-header{display: grid;grid-template-columns: repeat(3, 1fr);
       .tab-btn{padding: 3.5rem 0;border: solid 1px #760B28;border-left: none;background-color: transparent;font-weight: 500;font-size: 2rem;color: #760B28;
        &:first-child{border-left: solid 1px #760B28;}
        &[data-headlessui-state=selected]{background-color: #760B28;color: #fff;}
        }
    }
    .partner-slider{margin-top: 6rem;position: relative;
        .slick-track{display: flex;
            .slick-slide{height: auto;border: solid 1px #C9C9C9;display: flex !important;align-items: center;margin: 0 5px;    justify-content: center;
                img{width: 100%;}               
            }
            .slick-slide > div{padding: 6rem 7rem; width: 100%;} 
        }
        .slick-prev{background-image: url('/img/prev_arrow.svg');left: -10rem;}
        .slick-arrow{width: 7.7rem;height: 7.7rem;background-color: transparent;border: none;background-repeat: no-repeat;background-size: 100%;background-position: left center;position: absolute;top: 50%;transform: translateY(-50%);color: transparent;font-size: 0;cursor: pointer;
        &.slick-prev{background-image: url('/img/prev_arrow.svg');left: -10rem;}
        &.slick-next{background-image: url('/img/next_arrow.svg');right: -10rem;}

        }
    }
    
}




/* award section */
.award-section{background-image: url(/img/award_banner.jpg);background-repeat: no-repeat;background-size: cover;background-position: top center;padding-bottom: 31%;position: relative;
    .award-container{max-width: 62.5rem;margin: 0 auto;position: absolute;left: 0;right: 0;text-align: center;top: 10rem;
    .heading04{line-height: 4rem;}
    p{font-size: 2.4rem;line-height: 2.8rem;color: #366985;margin-top: 1rem;}
    }
    .award-right-box{background: rgb(118,11,40);background: linear-gradient(189deg, rgba(118,11,40,1) 0%, rgba(118,11,40,.4) 100%);position: absolute;right: 0;top: 0;bottom: 0;width: 25%;padding: 6rem;text-align: center;color: #fff;display: flex;flex-direction: column;justify-content: center;align-items: center;
        p{color: #F4CED8;font-size: 2.4rem;}
        .btn{margin-top: 14rem;}
    }
}

/* contact_us */
.contact_us{padding-top: 7.7rem;
    .heading02{margin-bottom: 3rem;}
    .form_box_black{background-color:#2C2C2C; padding: 5rem 5rem 7rem;
    &.grid {display: grid;grid-template-columns: 40% 28%;justify-content: space-between;align-items: center;   position: relative;margin-bottom: -4%;}
        .sec3-btns {
            margin-top: 3rem;
            &:first-child{margin-top: 0;}
        }
        input{border: none;border-bottom: 1px solid #FFFFFF;padding-bottom: 0.7rem;width: 100%;background-color: transparent;color: #fff;font-size: 2.5rem;font-weight: 400;
        	&::placeholder {color: #FEF1CE;font-size: 2rem;font-family: 'Space Grotesk';}
        }
        select{border: none;border-bottom: 1px solid #FFFFFF;width: 100%;background-color: transparent;margin-bottom: 5.5rem;font-size: 2rem;background-color:#2C2C2C;color: #FEF1CE;padding-bottom: 0.7rem;}
        .register-btn .btn{border: 1px solid ;}
    .contact_right_box .add_row{display: grid;grid-template-columns: 10% 76%; grid-gap: 3.4rem;margin-top: 4rem;
        span i{color: #FEF1CE;font-size: 3rem;}
        p , a{color: #FEF1CE;font-size: 2rem;}
    }
    .map{position: absolute;left: 44.5%;top: -7%;
        iframe {width: 35.5rem;height: 57.2rem;}}
}
}


.red_box{padding: 14.2rem 0 6.2rem 20.7rem;background-color: #760B28;
    &.grid{display: grid;grid-template-columns: 40% 50%;justify-content: space-between;align-items: center;}
    .title{font-size: 4.3rem;font-family: 'Space Grotesk';color: #fff;font-weight: 700;line-height: 5rem;}
    div img{margin-inline: 1.6rem;width: 25.8rem;}
}

// .partner-slider{margin-top: 6rem;position: relative;}
// .partner-slider .slick-track{display: flex;}
// .partner-slider .slick-slide img{width: 100%;}
// .partner-slider .slick-slide{height: auto;border: solid 1px #C9C9C9;display: flex !important;align-items: center;margin: 0 5px;    justify-content: center;}
// .logo-box{padding: 6rem 7rem;}
// .partner-slider .slick-arrow{width: 7.7rem;height: 7.7rem;background-color: transparent;border: none;background-repeat: no-repeat;background-size: 100%;background-position: left center;position: absolute;top: 50%;transform: translateY(-50%);color: transparent;font-size: 0;cursor: pointer;}
// .partner-slider .slick-prev{background-image: url('/img/prev_arrow.svg');left: -10rem;}
// .partner-slider .slick-next{background-image: url('/img/next_arrow.svg');right: -10rem;}
// .partner-slider  .slick-slide > div{padding: 6rem 7rem; width: 100%;}