
// Header
header#header {
    top: 0;
    position: sticky;
    z-index: 99;
    background: #fff;
}
.menu-btn{display: none;}
.close-menu{display: none;}
//.clear{display: none;}
@include breakpoint(max,767px){
    .nav {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: #ffffff;z-index: 9;padding: 30px;padding-top: 55px;transform: translateX(100%);transition: ease .5s all; &.active{transform: translateX(0);}
    ul li {margin-left: 2.9rem;transition: ease 1s all;display: block;margin-bottom: 5rem;font-size: 4.5rem;}
    }
    .close-menu, .menu-btn {position: absolute;right: 3rem;top: 3rem;background: none;border: none;padding: 0;width: 25px;height: 25px;display: block;}
    .menu-btn span {width: 100%;height: 4px;background: $primary-color;margin: 4px 0;display: block;border-radius: 2px;}
    .close-menu span {width: 100%;height: 4px;background: $primary-color;margin: 2px 0;display: block;border-radius: 2px;transition: 3s ease all;}
    .close-menu span:first-child {transform: rotate(45deg);margin: -6px 0;transition: 4s ease all;}
    .close-menu span:last-child {transform: rotate(-45deg);transition: 4s ease all}
    .clear{display: block;}
}
.header{
    .navbar .left_nav .navbar_list .navDropdown li{margin: 0;}
    .navDropdown{position: absolute;background-color: #fff;z-index: 9;padding: 2.5rem;box-shadow: 0 0 3px 1px rgba(0,0,0,.1);width: max-content;right: 0;
        li{margin: 0;padding: 1rem;border-top: 1px solid #909090;list-style: none;position: relative;
            &:first-child{border-top: none}
        }
    }
}

.navbar{display: flex;justify-content: space-between;align-items: center;padding: 2.7rem 0 3.2rem;
    // @include breakpoint(max,767px){display: block;}
    &.hf-container{max-width: 175rem;width: 96%;margin: 0 auto;}
    .left_nav{display: flex;
        align-items: center;
        width: 127.3rem;
        justify-content: space-between;
        @include breakpoint(max,767px){margin-right: 10rem;float: right;    width: 50%;}
        @include breakpoint(max,500px){margin-right: 10rem;float: right;    width: 65%;}
    .navbar_list{display: flex;justify-content: space-between;align-items: center;padding-left: 0;         
       @include breakpoint(max,767px){display: block;}
        li{margin-inline: 3.6rem ;list-style: none;font-size: 2rem;font-family: 'Space Grotesk';vertical-align: middle;font-weight: 500;cursor: pointer;position: relative;
            &.active{color: $primary-color;}
            a{
            &:hover{color: $primary-color;}}
        @include breakpoint(max,1279px){margin-inline: 2.6rem; }
        @include breakpoint(max,1023px){margin-inline: 2rem;}
        @include breakpoint(max,767px){margin-inline: 3rem;font-size: 4rem;border-bottom: 1px solid;padding-bottom: 1rem;}
       
        }
        li:first-child{margin-left: 0;
            @include breakpoint(max,767px){margin-inline: 3.6rem ;}
        }
        // .more_dropdown{margin-right: 0;position: relative;
        //     ul.navDropdown {position: absolute;left: 0;right: 0;background: #fff;width: max-content;z-index: 9;}
        // }

    }
    

    .btn01 button{color: #760B28;   border: 1px solid #760B28;background: transparent;padding: 1.6rem 2.9rem;border-radius: 3.3rem; }
   .profile-icon{
    span:last-child{margin-left: 6.5rem;margin-right: 4.4rem;
    @include breakpoint(max,970px){margin-left: 2.5rem;margin-right: 1.4rem}}
   }
    span i{font-size: 3rem;vertical-align: middle;
        @include breakpoint(max,767px){font-size: 5rem;}  
        }

    }
    .logo_img {width: 20%;    width: 46.25rem;
        @include breakpoint(max,767px){width: 5%;display: inline-block;}
        @include breakpoint(max,500px){width: 9%;}
        img{width: 100%;height: auto;
            @include breakpoint(max,767px){display: none;}}
        .mobile-logo{display: none;
            @include breakpoint(max,767px){display: block;}}
            a{display: block;
                width: 76%;}
        }
        .clear{display: none;}

        .more_dropdown i {
            font-size: 4rem;
            vertical-align: middle;
            position: absolute;
            // right: 0;
            top: 0;
            bottom: 0;
            width: 7rem;
            transform: rotate(0deg);
            transform-origin: 0 0;
            white-space: nowrap;
            transition: 1s ease all;
        }
        .more_dropdown .tab-head-box.active svg{
            transform: rotate(180deg); transition: .5s ease all;
        }
}

.width-50 {.backgroud{ @include breakpoint(max,767px){display: inline-block;width: 50%;margin-right: -2px;}}}
// Program Bar
.backgroud{background: linear-gradient(106deg,#760b28,#811c4b); 
    // @include breakpoint(max,500px){display: inline-block;width: 50%;}
    .program_bar{display:flex;justify-content: space-between;align-items: center;
        @include breakpoint(max,767px){position: relative;}
        // @include breakpoint(max,500px){display: grid;
        //     grid-template-columns: 135px calc(100% - 70px);}
        // @include breakpoint(max,970px){display: grid;grid-template-columns: 110px auto;
        //     .program-scroll{
        //         .programs{width: max-content;}
        //     }
        // }
        .nav-title{font-size: 2rem;color: #fff;padding: 1.7rem 4.1rem;vertical-align: middle;font-weight: 500;width: max-content;
            @include breakpoint(max, 970px){padding: 1.7rem 1.9rem;}
            @include breakpoint(max, 767px){display: block;color: #000;width: 100%;
            &:hover{color: #fff;}}
            @include breakpoint(max, 500px){font-size: 2.4rem;}
        }
        
        .programs{
            .slick-slider{padding: 0 3.5rem 0 1.5rem;}
            .slick-prev, .slick-next{display: block;width: 25px;height: 25px;color: transparent;font-size: 0;background: none;text-align: center;border: none;position: absolute;top: 50%;transform: translateY(-50%);
                &:before{content: "";width: 10px;height: 10px;border-top: solid 2px #fff;border-left: solid 2px #fff;display: inline-block;}
            }
            .slick-prev{left: 0;
                &:before{transform: rotate(-45deg);}
            }
            .slick-next{right: 0;
                &:before{transform: rotate(135deg);}
            }
            .slick-disabled{display: none;}
            //display: flex;justify-content: space-between;cursor: pointer;
            // @include breakpoint(max,1279px){grid-gap: 2rem;}
            // @include breakpoint(max,1023px){grid-gap: 0rem;}
        a{
        &:hover{background-color: #760B28;}
        &:active{background-color: #760B28;}
        }
        .more_dropdown{position: relative;
            // .navDropdown{position: absolute;background-color: #fff;z-index: 9;width: 
            //     // li{margin: 0;padding: 0.5rem;border-top: 1px;}
            // }
            }
        }    
        .nav-title1{font-size: 2rem;color: #fff;padding: 1.7rem 4.4rem;vertical-align: middle;font-weight: 500;width: max-content;pointer-events: none;
            @include breakpoint(max,767px){padding: 1.7rem 2.4rem;pointer-events: initial;width: 100%;text-align: center; } 
            @include breakpoint(max,500px){padding: 2.5rem 0.4rem;font-size: 2.4rem;} 
            span{vertical-align: sub;margin-left: 3.5rem;
                @include breakpoint(max,767px){margin-left: 1.5rem;}
                svg{transition: .5s ease all;}
                } }
        .program-scroll { width: 75.2%;
            @include breakpoint(max,767px){position: absolute;background: #fff;top: 100%;width: 100%;display: none;
                &.active{display: block;}
            }
            // @include breakpoint(max,500px){width: calc(100% - 10rem);}
    }
    }
    .program_bar > .nav-title{padding:0;}
} .nav-title1 span{vertical-align: sub;margin-left: 3.8rem;
    @include breakpoint(max,767px){margin-left: 1.5rem;}}
    @include breakpoint(max,767px){
    .nav-title1.active span svg{transform: rotate(90deg);transition: .5s ease all;}}

// US CPA Bar
.light-backgroud{background: #F8E4E9; 
    .hf-container{ @include breakpoint (max,767px){width: 100%;}}
    @include breakpoint(max,767px){display: inline-block;width: 50%;position: relative;margin-right: -2px;}
    .uscpa-program{display: flex; justify-content: space-between;align-items: center;grid-gap: 2rem;
        @include breakpoint(max,970px){
            // display: grid;grid-template-columns: 110px auto;
            .program-scroll{overflow: auto;width: 76.6%; .programs{width: max-content;}                
                @include breakpoint(max,767px){position: absolute;width: auto;left: 5px;right: 5px;background: #fff; display: none;
                    &.active{display: block;}}
                .programs{display: flex;justify-content: space-between;grid-gap: 0rem;cursor: pointer;align-items: center;
                    @include breakpoint (max,767px){display: block;width: 100%;}
                   a{
                    &:hover{background: #2C2C2C;color: #FFFFFF;}
                   }
                }
            }}
        @include breakpoint(max,767px){display: block;}        
            .nav-title1{font-size: 2rem;padding: 3rem 4.3rem;vertical-align: middle;font-weight: 500;width: max-content;
            @include breakpoint(max,767px){padding: 1.7rem 2.4rem;text-align: center;width: 100%;}
            @include breakpoint(max ,500px){padding: 2.5rem 0.4rem;font-size: 2.4rem;}}
        .nav-title{font-size: 2rem;padding: 3.2rem 4.3rem;vertical-align: middle;font-weight: 500;width: max-content;
        @include breakpoint(max , 767px){display: block;width: 100%;font-size: 2.4rem;padding: 1.7rem 1.9rem;}    
            span{vertical-align: inherit;margin-left: 3.5rem;
                @include breakpoint(max,767px){margin-left: 1.5rem;}}
        }
        
        
    }
    // .uscpa-program > .nav-title{padding: 0;}
}




/* Footer */
.footer{background-color: #E9E9E9;
    .hf-container{max-width: 175rem;width: 96%;margin: 0 auto;&.footer_row{padding: 8rem 0 5rem;  
    @include breakpoint(max,767px){padding: 5rem 2rem;}}
    .Footer_box1{display: flex; justify-content: space-between;align-items: center;
        .logo_img {width: 22%;
            @include breakpoint(max,767px){width: 40%;}} 
        .social_media i{font-size: 3rem;color: #2C2C2C;margin-left: 3.6rem; @include breakpoint(max,767px){font-size: 4rem;}  @include breakpoint(max,500px){margin-left: 2.6rem;}}}
        @include breakpoint(max,767px){width: 100%;}
        }
    .footer_grid{display: grid;grid-template-columns: 23% 26% 16% 15% 20%;
            .footer_box {padding: 4.5rem 3.5rem;border-left: 1px solid #909090;display: flex;justify-content: space-between;flex-direction: column;
            &:first-child{border-left: none;padding-left: 0;  
            @include breakpoint(max,767px){height: auto;border-top: none;width: 100%;grid-column: 1/6;text-align: center;
    padding-inline: 1.5rem;}        
        } 
            &:nth-child(2){
            @include breakpoint(max,767px){ grid-column: 1/3;grid-row: 2/3;}}
            &:nth-child(3){
            @include breakpoint(max,767px){ grid-column: 3/6;grid-row: 2/3;border-right: 1px solid #909090;}}
            &:nth-child(4){
            @include breakpoint(max,767px){grid-column: 1/3;grid-row: 3/4;}}
            &:nth-child(5){
            @include breakpoint(max,767px){grid-column: 3/6;grid-row: 3/4;border-right: 1px solid #909090;}}
            .footer_para{font-family: 'Space Grotesk';color: #000;}
            .footer_title{font-size: 2rem;color: #760B28;margin-bottom: 2.8rem;font-weight: 500;}
            .title01{font-size: 2rem;margin-bottom: 1.8rem;font-weight: 400;line-height: 2.8rem;color: #000;list-style-type: none;}
            @include breakpoint(max,767px){border-top: 1px solid #909090;vertical-align: top;padding: 3rem 1rem 3rem 3rem;}

            ul{padding-left: 0;}
        }
       
    }
        .ft-bottom-row{border-top: 1px solid #909090;border-bottom: 1px solid #909090;}
   
    .copyright{font-size: 1.6rem;text-align: center;color: #5C5C5C;padding-block:2.4rem ;font-weight: 400;}
    .footer .footer_grid .footer_box:nth-child(2){border-left: none;}
}

