/* buttons */
.btn {
    font-weight: 500;
    font-size: 2rem;
    padding: 1.8rem 3.2rem;
    border-radius: 5rem;
    display: inline-block;

    &.btn-arrow {
        margin-left: 4rem;
    }
    .btn-arrow {
        margin-left: 2rem;}

    &.maroon-btn {
        background-color: #760B28;
        color: #fff;

        &.maroon-btn-arrow {
            background-image: url('/img/cross_arrow_white.svg');
            background-repeat: no-repeat;
            background-position: center right 3rem;
            padding-right: 7rem;
            background-size: 8%;
        }
    }

    &.white-btn {
        background-color: #fff;
        color: #760B28;

        &.white-btn-arrow {
            background-image: url('/img/cross_arrow.svg');
            background-repeat: no-repeat;
            background-position: center right 3rem;
            padding-right: 7rem;
        }
    }
    &.white-border-btn {
        border: solid 1px #fff;
        color: #fff;
        &.white-border-btn-arrow {
            background-image: url('/img/cross_arrow_white.svg');
            background-repeat: no-repeat;
            background-position: center right 3rem;
            padding-right: 8rem;
            background-size: 2.2rem;
        }
    }

    &.maroon-border-btn {
        border: solid 1px #760B28;
        color: #760B28;

        &.maroon-border-btn-arrow {
            background-image: url('/img/cross_arrow.svg');
            background-repeat: no-repeat;
            background-position: center right 3rem;
            padding-right: 8rem;
            background-size: 8%;
        }
    }

    &.enq-btn {
        background-color: transparent;
        color: #fff;
        border: none;
    }
}