.read-more{color: #760B28;}

.program-banner{display: grid;grid-template-columns: 55% 45%;align-items: center;
@include breakpoint (max,767px){display: block;}  
  .banenr-left{
    img{display: block;width: 100%;}
  }
  .progam-info{padding-left: 9rem;
  @include breakpoint(max ,970px){padding-left: 6rem;margin-top: 3rem;}
    .heading02{color: $primary-color;
    @include breakpoint(max,500px){text-align: left;}}
    ul{margin-top: 4rem;padding-left: 2.5rem;
    @include breakpoint(max,970px){margin-top: 2rem; }
      li{color: #000;font-size: 2.8rem;font-weight: 700;line-height: 4rem;margin: 1.5rem 0;list-style-type: disc;
      @include breakpoint(max,970px){margin: 1rem 0;}}
    }
  }
}

.exam-section{
  p{margin-bottom: 0;}
  .exam-header{display: grid;grid-template-columns: auto 75rem;margin-bottom: 4rem;align-items: center;
  @include breakpoint(max,970px){grid-template-columns: auto 50%;}  
  @include breakpoint(max,500px){display: block;text-align: center;}
  }
  .exam-right-box{background-color: $secondary-color;padding: 2rem 0;text-align: center;
  @include breakpoint(max,500px){margin-top: 2rem;}  
    span{color: #fff;line-height: 3rem;font-weight: 700;font-size: 2.8rem;display: inline-block;
      &:last-child{border-left: solid 2px #fff;padding-left: 1rem;margin-left: 1rem;}
    }
  }
}

p.mobile-tab {
  padding: 3rem 0;
  border: solid 1px #760B28;
  background-color: transparent;
  font-weight: 500;
  font-size: 3rem;
  color: #760B28;
  transition: ease 0.5s all;
  width: 100%;
  text-align: center;
  display: none;
  @include breakpoint(max,700px){    display: block;
    vertical-align: middle;
    position: relative;}

  svg{    font-size: 6rem;
   
    vertical-align: middle;
    position: absolute;
    right: 2rem;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);}
} 
@include breakpoint(max,700px){tab-header.active{display: block;}}

.journery-section{.heading02{@include breakpoint(max,767px){text-align: center;}}}
.journey-container{margin-top: 5.5rem;display: grid;grid-template-columns: repeat(5, 1fr);grid-column-gap: 5rem;
@include breakpoint(max,767px){grid-template-columns: repeat(1, 1fr);grid-row-gap: 3rem;}
  .journey-box{position: relative;
  @include breakpoint(max,767px){display: grid;justify-content: space-between;grid-template-columns: 45% 55%;align-items: center;text-align: center;grid-gap: 1rem; 
    &:nth-child(even){direction: rtl;}} 
  dl{position: relative;padding-top: 4.5rem;
      &:before{content: '';position: absolute;background-image: url(/img/cpa/jour_arrow.svg);background-repeat: no-repeat;background-size: cover;width: 6.8rem;height: 2.4rem;top: calc(50% + 2.5rem);transform: translateY(-50%);left: -5.8rem;
      @include breakpoint(max,970px){background-size: 85%;width: 5.8rem;}
      @include breakpoint(max,767px){display: none;}
    }
    }
    .num{background-color: $lavender-color;color: #FFFFFF;font-size: 2.8rem;font-weight: 700;width: 6.3rem;height: 6.3rem;border-radius: 100%;text-align: center;line-height: 6.3rem;display:block;position:absolute; z-index: 9;margin: 0 auto;left: 0;right: 0;top: 0;}
    .journey-icon{background: #FFF5F5;width: 25rem;height: 25rem;border-radius: 100%;margin-top: -2rem;display: block;padding: 7rem;margin: 0 auto;
    @include breakpoint(max,970px){width: 20rem;height: 20rem;}
    }
    figcaption{margin-top: 4rem;
    @include breakpoint(max,767px){margin-top: 0;}  
      .heading06{color: $lavender-color}
      ul{margin-top: 2rem;
        @include breakpoint(max,767px){padding-left: 0;} 
      li{@include breakpoint(max,767px){list-style-type: none;} }}
    }
    &:first-child dl:before{content: none;}
  }
}

.ol-course-section{
  .course-container{margin-top: 3.5rem;display: grid;grid-template-columns: repeat(3, 1fr);grid-gap: 6rem;
  @include breakpoint(max,970px){grid-gap: 4rem;}  
  @include breakpoint (max, 600px ){grid-template-columns: repeat(1, 1fr);}
    .course-box{
        .img-box{border-radius: 3.3rem;overflow: hidden;
          img{display: block;width: 100%;}
        }
        .heading05{margin: 3.5rem  0;}
    }
  }
}

.aside-tab-section{
  .aside-tab-container{
    .left-tab-box{background: $gradient;width: 104rem;display: inline-block;vertical-align: top;padding: 5rem 8rem;padding-left: 15rem;margin-top: 5rem;
    @include breakpoint(max,970px){display: block;padding-left: 8rem;margin: 0 auto;}
    @include breakpoint(max , 767px ){width: 90%;padding-left: 5rem;}
      .tab-header{margin-top: 2.4rem;}
      .heading02, p{color: #fff;text-align: left;}
      .tab-btn{padding: 2.5rem 0;border: none;border-top: solid 1px #C07589;border-top: solid 1px #C07589;color: #C07589;font-size: 3.6rem;line-height: 4rem;list-style: none;background-color: transparent;width: 100%;display: block;text-align: left;
        &[data-headlessui-state=selected], &:hover{color: #fff;font-weight: 500;background-image: url("/img/up_arrow.svg");background-repeat: no-repeat;background-position: center right 3rem;}
      }
    }
    .right-tab-box{width: calc(100% - 104rem);display: inline-block;vertical-align: middle;background-color: #FFF5F5;border-radius: 3.3rem;padding: 5rem 6.5rem;padding-right: 10rem;
    @include breakpoint(max,970px){width: 100%;}
      .syllabus-row{margin-top: 3rem;
        &:first-child{margin-top: 0;}
        .heading05{color: $primary-color}
        ul{margin-top: 1.5rem;
          li{line-height: 3.8rem;}
        }
        &:first-child{
          ul, .heading05{margin-top: 0;display: inline-block;vertical-align: middle;}
        }
      }
    }
  }
}

.table-section{
  table{
    thead {
      @include breakpoint(max,500px){
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: auto;
  }}
    th, td{border: solid 1px $primary-color;width: 33.33%;}
    td{@include breakpoint(max,500px){
      &::before{    content: attr(data-label);
        text-transform: uppercase;
        display: inline-block;
        width: 95px;
        text-align: left;
        border: none;
        padding:3rem 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: #760B28;
        vertical-align: top;}
    }
  }
    th{padding: 2rem 1rem;font-size: 2.4rem;font-weight: 700;color: $primary-color;}
    td{padding: 3.5rem;
    @include breakpoint(max,500px){width: auto;display: block;padding: 0;margin: 5px 0;
    p{width: calc(100% - 95px);
      display: inline-block;
      border-left: solid 1px #760B28;
      padding: 2rem;}}
    }

  }
 
}

.cont-partner-container{margin-top: 3.5rem;
  .cont-partner-row{margin-top: 2.5rem;display: grid;grid-template-columns: 53rem 1fr;
  @include breakpoint(max,970px){ grid-template-columns: 30% 1fr;}
  @include breakpoint(max,767px){display: block;}
    .logo-box{border: solid 1px #C9C9C9;padding: 0 3rem;display: flex;align-items: center;justify-content: center;
    @include breakpoint(max,767px){padding: 10%;}
    }
    .content-box{padding: 4rem 5rem 2rem;
    @include breakpoint(max,500px){text-align: center;padding: 2rem 1rem 2rem;} 
      p{@include breakpoint(max,500px){text-align: left;}}
      a{background-size: 1.5rem;}
    }
  }
}

.help-section{background-color: #FFF5F5;
  
  .help-container{display: grid;grid-template-columns: repeat(4, 1fr);grid-gap: 6.5rem;margin-top: 7.5rem;
  @include breakpoint(max,500px){grid-template-columns: repeat(2, 1fr);margin-top: 5.5rem;}  
    dl{text-align: center;
      dt{height: 11.2rem;display: inline-block;
        img{height: 100%;}
      }
      dd{font-size: 3.2rem;font-weight: 700;line-height: 3.7rem;margin-top: 3rem;}
    }
  }
}

.career-section{background-color: #FFF5F5; padding-bottom: 5rem;
  .career-container{margin-top: 4.5rem;display: grid;grid-template-columns: repeat(4, 1fr);
  @include breakpoint(max,970px){grid-gap: 2rem;grid-template-columns: repeat(2, 1fr);  
  @include breakpoint(max,767px){grid-template-columns: 1fr;}}  
    .career-box{font-size: 3.2rem;line-height: 4.4rem;color: #fff;background: rgb(181, 63, 95);
      background: linear-gradient(0deg, rgba(181, 63, 95, 1) 0%, rgba(118, 11, 40, 1) 100%);
      .career-head{font-weight: 600;min-height: 13.5rem;padding: 2.3rem 1.5rem;text-align: center;background: #B33E5E;display: flex;align-items: center;justify-content: center;
      @include breakpoint(max,500px){min-height: 8.5rem;}}
      .career-content{padding: 3.5rem 4rem;padding-bottom: 7rem;font-weight: 400;}
      &:nth-child(even) .career-head{background-color: #3B0626;}
      &:nth-child(even){background: rgb(57, 5, 37);background: linear-gradient(0deg, rgba(57, 5, 37, 1) 0%, rgba(133, 32, 93, 1) 100%);}
    }
  }
  p{line-height: 5rem;font-size: 3.2rem;margin-top: 3rem;}
}

.placement-section{
  .partner-container{display: grid;grid-template-columns: auto 65rem;grid-gap: 7rem;margin-top: 3.5rem;align-items: center;
  @include breakpoint(max,767px){grid-template-columns: auto;} 
  @include breakpoint(max,500px){grid-template-columns: auto;grid-gap: 4rem;}
    .partner-logo-box{display: grid;grid-template-columns: repeat(6, 1fr);border-right: solid 1px #2C2C2C;border-bottom: solid 1px #2C2C2C;
      .logo-box{border-left: solid 1px #2C2C2C;border-top: solid 1px #2C2C2C;padding: 2.5rem;display: flex;align-items: center;justify-content: center;height: 20rem;
        &:nth-child(3n-2){grid-column: 1/3;}
        &:nth-child(3n-1){grid-column: 3/5;}
        &:nth-child(3n){grid-column: 5/7;}
        &:nth-last-child(2){grid-column: 1/4;}
        &:last-child{grid-column: 4/8;}
        img{height: 65% !important;
        @include breakpoint(max,500){height: 100% !important;}}
      @include breakpoint(max,500px){
        &:nth-child(1){grid-column: 1/4;}
        &:nth-child(2){grid-column: 4/8;}
        &:nth-child(3){grid-column: 1/4;}
        &:nth-child(4){grid-column: 4/8;}
        &:nth-child(5){grid-column: 1/4;}
        &:nth-child(6){grid-column: 4/8;}
        &:nth-child(7){grid-column: 1/4;}
        &:nth-child(8){grid-column: 4/8;}
      }
      .btn.maroon-border-btn.maroon-border-btn-arrow {       
    @include breakpoint(max,500px){padding: 1.8rem;padding-right: 4rem;background-position: center right 1.3rem;background-size: 1.5rem;font-size: 2rem;
    }
      }
    } 
  }
  }
}

.faq-section{
  .faq-container{margin-top: 3.5rem;
    .faq-row{border-top: solid 1px #000;padding: 3.5rem 6rem;
      .faq-title{line-height: 4rem;font-size: 3.6rem;color: #000;
       
      }
      .faq-toggle-box{margin-top: 2rem;display: none;
        .faq-box{border-bottom: 1px solid #dddddd;padding: 2.5rem 0;
          .heading06{margin-bottom: 1.5rem;}
          ul{margin-top: 1.5rem;}
          &:last-child{border-bottom: none;}
        }
        table{width: 100%;margin-top: 3.5rem;text-align: left;
          td,th{border: solid 1px #f5f5f5;padding: 1rem 2.5rem;font-size: 2rem;font-weight: 400;color: #2C2C2C;line-height: 3.1rem;}
          th{font-weight: 700;}
        }
      }
      &:last-child{border-bottom: 1px solid #000;}
      &.active{
        .faq-title{ background-image: url("/img/black_up_arrow.png");background-repeat: no-repeat;background-position: center right 2rem;background-size: 2rem;}
      }
    }
  }
}